html,body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
	font-size:14px!important;
	
}

/*Responsive font sizing*/

.navbar-brand{
    font-size: 4vw;
    letter-spacing: 3px;
    color: #1e60a3!important;
	-webkit-text-stroke: 1px #000;
	
}


.navbar {background:#fff; border-bottom:1px solid; font-family: futura-pt-condensed, sans-serif;
font-weight: 400;
font-style: normal; font-size:24px;}
.nav-link {color:#000!important; cursor: pointer;}
.nav-link{margin-right:0em!important;}
.nav-link:hover{color:#1e60a3!important;}
.navbar-collapse{justify-content: flex-end;}
.navbar-toggler{background: transparent!important;}
.pica{padding:8px 0px 0px 0px;}



.header {
	position: relative;
	background:url(../img/cpuBack.png);
	background-position: center;
	background-size:cover;
}

.overlay {
	position:absolute;
	min-height: 100%;
	min-width:100%;
	left:0;
	top:0;
	background:rgba(244,244,244,0.50);
	
}


.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 100%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

/*about*/
.content {
	position:relative;
	width:100%;
	top:100px;
	margin:0px auto;
}

#screen {
	    display: block;
    position: relative;
    margin: 10px auto;
    height: 300px;
    width: 100%;
}

#screenInformation {
	display: block;
	position:relative;
	margin:10px auto;
	height: 300px;
	width:90%;
	
}

